body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-color: #3a589b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.pHeader {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    margin-left: 30px; /*Esto alinea el p del Header con el resto del cuerpo*/
}

h1 {
    font-size: 30px;
    color: #333;
    text-align: center;
}

* li {
    text-decoration: none;
    list-style: none;
}

/*Dentro de este btn esta el logo*/
button {
    border-radius: 8px;
    border-color: #3a589b;
    margin-left: 5px;
}

button:hover {
    transform: scale(1.1);
}

/*Logotipo*/
.logo {
    width: 60px;
    /*width: 150px;*/
}

/*Menu de enlaces en el Header*/
nav {
    display: flex;
}

nav a {
    margin-right: 30px;
    font-size: 15px;
    text-decoration: none;
    color: #fafafa;
}

nav a:hover {
    text-decoration: underline;
}

/*Configuración para todos los p que estne por fuera de las cards*/
p {
    font-size: 18px;
    text-align: center;
}

/*Titulos de las secciones*/
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

/*Contenedor principal*/
.altura {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    background-color: #fff;
    margin-top: 50px;
    color: #333;
}

/*Img abajo del h1*/
.portada {
    width: 500px;
}

/*Contenedor de las secciones*/
.contenedor {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contenedor h2 {
    margin-top: 100px;
}

/*Contenedor de las cards*/
.contenedorServicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/*Cards de servicios*/
.card {
    text-align: center;
    margin: 10px;
}

.card h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.card p {
    font-size: 15px;
}

.card img:hover {
    transform: scale(0.9);
}

/*Este es el contenedor previo al footer*/
.fondo {
    background-color: #3a589b;
}

.row {
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

.col {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Img del final*/
.imgFondo {
    width: 150px;
    /*width: 300px;*/
    margin-bottom: 10px;
}

/*Span para las img open/closed*/
span {
    margin-right: 10px;
}

footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    color: #333;
}

/*Responsive*/
@media only screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Roboto", sans-serif;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        justify-content: flex-end;
    }

    nav a {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        margin-right: 10px;
    }

    .logo {
        width: 60px;
    }

    button {
        border-radius: 8px;
        border-color: #3a589b;
        margin-left: 5px;
    }

    h1 {
        text-align: center;
        font-size: 18px;
    }

    h2 {
        font-size: 17px;
        margin-top: 10px;
    }

    p {
        text-align: center;
        font-size: 15px;
    }

    /*Se agrega margin-top para que esté más pegado en Header en versión mobile*/
    .altura {
        height: 50vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #fff;
        color: #333;
        margin-top: 10px;
    }
    .portada {
        width: 200px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .contenedor p {
        text-align: center;
        font-size: 15px;
    }

    .fondo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .fondo h2 {
        font-size: 15px;
    }

    .fondo p {
        font-size: 12px;
    }

    .imgFondo {
        width: 100px;
    }

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer {
        font-size: 10px;
    }
}
