body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
}

* li {
    text-decoration: none;
    list-style: none;
}

/*Logotipo*/
.logo {
    width: 70px;
    /*width: 150px;*/
}

/*Menu de enlaces en el Header*/
nav {
    display: flex;
}

nav a {
    margin-right: 30px;
    font-size: 15px;
    text-decoration: none;
    color: #3a589b;
}

nav a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
    text-align: center;
}

/*Titulos de las secciones*/
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

/*Contenedor principal*/
.altura {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #3a589b;
    margin-top: 50px;
    color: #fafafa;
}

.altura h1 {
    font-size: 35px;
}

.carousel-inner {
    width: 800px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*Contenedor de las secciones*/
.contenedor h2 {
    margin-top: 40px;
}

/*Contenedor de las cards*/
.contenedorServicios {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/*Cards de servicios*/
.card {
    text-align: center;
    margin: 10px;
}

.card h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.card p {
    font-size: 15px;
}

.card img:hover {
    transform: scale(0.9);
}

/*Este es el contenedor previo al footer*/
.fondo {
    background-color: #3a589b;
}

.row {
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

.col {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Img del final*/
.imgFondo {
    width: 150px;
    /*width: 300px;*/
    margin-bottom: 10px;
}

span {
    margin-right: 10px;
}

footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #729fbf;
    width: 100vw;
    height: 60px;
    color: #fafafa;
}

/*Responsive*/
@media only screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Roboto", sans-serif;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        padding: 0;
    }

    nav a {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 13px;
    }

    .logo {
        width: 70px;
    }

    h1 {
        text-align: center;
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
        margin-top: 10px;
    }

    p {
        text-align: center;
        font-size: 15px;
    }

    .altura {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #55bcd2;
        margin-top: 30px;
        color: white;
    }

    .altura img {
        width: 250px;
    }

    .carousel-inner {
        width: 400px;
    }

    .fondo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fondo h2 {
        font-size: 15px;
    }

    .fondo p {
        font-size: 12px;
    }

    .imgFondo {
        width: 100px;
        /* width: 200px;*/
    }

    footer {
        font-size: 10px;
    }
}
